<!--
<ul ng-controller="MontadorasController as MontadoraCtrl">
    <li>
        <span 
            ng-click="MontadoraCtrl.novaMontadora = true"
            ng-hide="MontadoraCtrl.novaMontadora">
            Adicionar montadora
        </span>
        <div ng-show="MontadoraCtrl.novaMontadora">
            <input type="text" ng-model="MontadoraCtrl.nova.nome">
            <button type="button" ng-click="MontadoraCtrl.addNova()">OK</button>
            <button type="button" ng-click="MontadoraCtrl.cancelNova()">Cancel</button>
        </div>
    </li>
    <li ng-repeat="montadora in MontadoraCtrl.montadoras">
        {{montadora.nome}}
    </li>
</ul>
-->

<select ng-controller="MontadorasController as MontadoraCtrl"
    ng-change="MontadoraCtrl.checkValue($event)" 
    ng-model="MontadoraCtrl.montadora">
    <option 
        ng-repeat="montadora in MontadoraCtrl.montadoras"
        ng-value="MontadoraCtrl.$id">
        {{montadora.nome}}
    </option>
    <option value="0"></option>
</select>